:root {
  --main-bg-color: #FFE8D2;
  --footer-bg-color: #BCA79D;
  --font-color: #54433A;
  --font-color-light: #FFE8D2;
  --link-color: #F37123;
  --button-color: #B5866E;
  --button-color-success: #00B596;
  --carousel-heigth: 40vh;
  --carousel-font-size-title: 2.5rem;
  --carousel-font-size-desc: 1.5rem;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--font-color);
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}
a {
  color: var(--link-color);
}
.card {
  background-color: var(--main-bg-color);
}
.btn {
   background-color: var(--button-color);
   color: var(--font-color-light);
}
.btn-success {
  background-color: var(--button-color-success);
}
.nav-bg, .navbar-brand{
  background-color: var(--footer-bg-color)!important;
  border-radius: 5px;
  color: var(--font-color)!important;
}
.jumbotron {
  background-color: var(--footer-bg-color);
  margin: 0;
}
.container-heigth {
  min-height:100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.nav-brand-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;;
}
.nav-brand-my-team {
  font-size: 1rem;
  padding: 1rem;
  font-weight: 500;
}
.nav-brand-my-team-amount {
  font-size: 0.8rem;
  padding-left: 0.2rem;
}
.nav-align-items {
  justify-content: space-between;
}
.carousel-height {
  height: var(--carousel-heigth);
  max-height: var(--carousel-heigth);
}
.carousel-img {
  min-height: var(--carousel-heigth);
}
.carousel-title {
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  font-size: var(--carousel-font-size-title);
}
.carousel-description {
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
  font-size: var(--carousel-font-size-desc);
}
.text-align-center {
  text-align: center;
}
.card-width {
  width: 18rem;
}
.main {
  min-height: 19.5rem;
}
@media only screen and (max-width: 574px) {
  .card-width {
    width: 90%;
  }
  :root {
    --carousel-heigth: 30vh;
    --carousel-font-size-title: 1.5rem;
    --carousel-font-size-desc: 1rem;
  } 
}
/*loading gallery animation*/
.gallery-show {
  animation-name: fadeIn;
  animation-duration: 4s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.breed-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
