body {
  margin: 0;
  padding: 0;
}
.carousel-height {
  height: 40vh;
}
.carousel-img {
  min-height: 40vh;
}
.text-align-center {
  text-align: center;
}
.card-width {
  width: 18rem;
}
@media only screen and (max-width: 991) {}
@media only screen and (max-width: 574px) {
  .card-width {
    width: 100%;
  } 
}
